body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
}

#display {
    height: 50px;
    width: 330px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

#inputKeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #f2f2f2;
    color: #333;
}

.clear-btn {
    background-color: #979797;
    color: white;
    grid-column: span 4;
    width: 100%; 
}

.operator{
    background-color: #979797;
}

button:hover{
    box-shadow: 5px 3px 5px black;
    
}
